<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Principal</title>
    <link rel="stylesheet" href="/components/homeScreen/homeScren.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <div class="container">
        <h1>Dashboard Principal</h1>
        <div class="chart-container">
            <div id="events-summary" class="chart"></div>
            <div id="clients-stats" class="chart"></div>
            <div id="events-stats" class="chart"></div>
            <div id="income-stats" class="chart"></div>
            <div id="occupancy-stats" class="chart"></div>
        </div>
    </div>
    <script src="/components/homeScreen/homeScreen.js"></script>
</body>
</html>
