<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evaluaciones y Comentarios</title>
  <link rel="stylesheet" href="/components/comments/comments.css">
</head>
<body>
  <div class="main-container">
    <div class="title-container">
      <h1>Evaluaciones y Comentarios</h1>
    </div>

    <div class="comments-container">
      <a href="https://mail.google.com/mail/u/0/#inbox?authuser=eventpro4d@gmail.com" target="_blank" id="open-gmail-button" class="comment-button">Abrir Gmail de Eventpro5C</a>
    </div>
  </div>

  <script src="/components/comments/comments.js" type="module"></script>
</body>
</html>
